<h1>Order was received!</h1>

<h3>
  Dear <%= @order.name %>
</h3>

<text>
Thank you for your recent order from The Pragmatic Store.

You ordered the following items:

<%= render @order.line_items -%>

<br>

We'll send you a separate email when your order ships.
</text>
